* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100dvh;
    width: 100dvw;
}

main {
    height: 100vh;
    width: 100vw;
}

.calculator-screen {
    height: 100%;
    width: 100%;
    min-width: 360px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: relative;
    background-color: #111;
}

.calc-header {
    padding: 10px;
    color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total-box, .items-box {
    border: 2px solid rgb(123, 120, 120);
    border-radius: 20px;
    padding: 14px;
    font-weight: 500;
    font-size: 22px;
}

.total-box span,
.items-box span{
    color: limegreen;
    font-weight: 600;
}

.calc-display {
    min-width: 360px;
    padding: 10px;

    color: white;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end; 

    font-size: clamp(24px, 10vw, 48px);
    line-height: 1.2;

    overflow-y: auto;
    word-break: break-all;
    text-align: right
}

.calc-keypad {
    user-select: none;
    width: 100%;
    padding: 1rem;
    border-top: 5px solid white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.btn-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
}

.calc-keypad button{
    width: 64px;
    height: 64px;
    font-size: 27px;
    font-weight: 600;
    border: none;
    border-radius: 50%;
}

button:active { scale: 0.9; }

button.operator {
    background-color: #aaa;
    font-size: 45px;
    padding-bottom: 8px;
}

button.equal {
    font-size: 45px;
    padding-bottom: 8px;
}

button.bill {
    width: 138px;
    height: 64px;
    border-radius: 20px;
    background-color: rgb(230, 19, 19);
    color: white;
}

button.equal,
button.clear, 
button.delete { background-color: darkturquoise; }

/* Bill screen styling */
.bill-screen{
    width: 100%;
    height: 100%;
    display: none;
    grid-template-rows: auto auto 1fr auto;
}

.bill-header {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 10px;
    border-bottom:4px solid #111;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #bbd0e4;
}

.shop-details {
    display: flex;
    gap: 10px;
}

.shop-details h1{
    font-size: 20px;
    width: 150px;
}

.shop-details .logo {
    width: 50px;
    border-radius: 50%;
}

.shop-details .logo img { width: 100%; }
.customer-info { text-align: center; }

.customer-info h1 { 
    font-size: 20px;
    font-weight: 500;
}

.date-time {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 8px;
    font-weight: 700;
}

.bill-summary {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top:4px solid #111;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
.bill-summary p{
    font-size: 20px;
    font-weight: 600;
}

.total-balance-amount {
    margin-top: 10px;
    border-top: 2px solid black;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bill-items {
    min-height: 500px;
    padding-left: 50px;
    font-size: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-x: auto;
    word-break: break-all;
}

.bill-items li span{
    font-weight: 500;
    color: #111;
}
.bill-items li{
    font-weight: 800;
    color: #1971c2;
}

/* Shop Name Modal */
.shop-name-modal {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.subh-labh-logo {
    width: 250px;
}

.subh-labh-logo img {
    width: 100%;
}

.modal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.modal-box h2 {
    font-size: 30px;
}

.modal-box input{
    padding: 15px 20px;
    border: 2px solid black;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.shop-name-modal button {
    padding: 10px 100px;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 600;
    background-color: #3691e6;
}

.shop-name-modal button:hover {
    background-color: #6592bc;
    
}

/* setting modal */
.settings-modal {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.settings-modal h1 {
    font-size: 60px;
}

.lang-setting {
    font-size: 25px;
    font-weight: 400;
    line-height: 0.8;
}

.settings-modal .modal-box button {
    border: none;
    background-color: #e70c37;
    padding: 8px 20px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 40px;
}

/* Billing input */
.bill-input-modal {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-action button {
    border: none;
    padding: 15px 26px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}

.canacel-bill { background-color: #e70c37; }
.confirm-bill {
    background-color: #000;
    color: #fefefe;
}


@media (min-width:500px) {
    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .calculator-screen,
    .bill-screen,
    .shop-name-modal,
    .settings-modal,
    .bill-input-modal{
        width: 400px;
        height: 780px;
        border-radius: 20px;
        box-shadow: 0 0 10px black;
    }
}
