* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100dvh;
    width: 100dvw;
}

main {
    height: 100%;
    width: 100%;
    background-color: #444;
}

.calculator {
    height: 100%;
    width: 100%;
    min-width: 360px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: relative;
    background-color: #111;
}

.kul-rakam{
    position: absolute;
    top: 1%;
    left: 2%;
}

.items {
    position: absolute;
    top: 1%;
    right: 2%;
}

.kul-rakam h1{
    background-color: #999;
    padding: 0.5rem;
    border-radius: 1rem;
    font-weight: 500;
    font-size: 1.5rem;
    
    & span{
        color: #fefefe;
        /* font-size: 2rem; */
        font-weight: 600;
    }
}

.total-items p {
    background-color: #999;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    
    & span {
        color: #fefefe;
    }
}

.input-display {
    min-width: 360px;
    /* max-height: 120px; */
    padding: 10px;

    color: white;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end; 

    font-size: clamp(24px, 10vw, 48px);
    line-height: 1.2;

    overflow-y: auto;
    word-break: break-all;
    text-align: right
}

.calculator-buttons {
    user-select: none;
    width: 100%;
    padding: 1rem;
    border-top: 5px solid white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.btn-div {
display: flex;
align-items: center;
justify-content: space-evenly;
}

button{
    width: 4rem;
    height: 4rem;
    font-size: 25px;
    font-weight: 700;
    border: none;
    border-radius: 50%;
}

button:active {
    scale: 0.9;
}

button.operator {
    background-color: #aaa;
}

button.jama {
    background-color: #4caf50;
    color: white;
}

button.pehle-ka {
    background-color: rgb(230, 19, 19);
    color: white;
}

button.equal,
button.clear, 
button.delete {
    background-color: rgb(107, 194, 228);
    /* color: white; */
}

@media (min-width:550px) {
    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .calculator{
        width: 400px;
        height: 780px;
        border-radius: 20px;
    }
}
